<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Startseite | ECube</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <link rel="icon" type="image/png" href="./data/img/favicon.png">
        <meta name="theme-color" content="#62A60E">

        <meta property="og:title" content="ECube | Bildung neu gedacht">
        <meta property="og:description" content="Der ECube ist ein Non-Profit-Projekt der Konrad-Zuse-Schule Hünfeld.">
        <meta property="og:site_name" content="ECube">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="de_DE">
        <meta property="og:image" content="https://marcow2812.github.io/zuse-projekt/main/data/img/favicon.png">
        <meta property="og:image:alt" content="ECube">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="500">

        <link rel="stylesheet" href="./data/style/main.css?timestamp=<%= new Date().getTime() %>">
        <script language="javascript" type="text/javascript" src="./data/script/main.js?timestamp=<%= new Date().getTime() %>"></script>
        <script language="javascript" type="text/javascript" src="./data/script/script.js?timestamp=<%= new Date().getTime() %>"></script>

        <!-- Google Model Viewer -->
        <script type="module" src="./data/script/model-viewer.min.js"></script>
    </head>
    <body onload="setSwitchContainer()">

        <marquee>
            <span>Entwickelt in Hessen</span>
            <span>-</span>
            <span>Getestet von Lernenden</span>
            <span>-</span>
            <span>100% kostenlos</span>
            <span>-</span>
            <span>Entwickelt für Schulen</span>
            <span>-</span>
            <span>Bekannt durch Jugend forscht 2026</span>
        </marquee>

        <header>
            <span class="menuBtn" style="font-size:30px;cursor:pointer" onclick="openNavMenu()">&#9776;</span>

            <img class="logo-zuse" src="./data/img/zuse_logo_small.png">

            <img class="logo-ecube" src="./data/img/ecube/ECube_green_top_small.png">

            <a class="open-project-link" href="https://marcow2812.github.io/zuse-projekt/main/explorer.html">Zum Projekt</a>
        </header>

        <div id="navMenu" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNavMenu()">&times;</a>
            <div class="overlay-content">
                <a href="#">Über uns</a>
                <a href="#">Der Würfel</a>
                <a href="#">Entwicklung</a>
                <a href="#">Projekt öffnen</a>
            </div>
        </div>

        

        <div class="split-container">
            <div class="box box1">

                <img src="./data/img/Gemini_Generated_Image_43afj743afj743af.png" width="100%">

            </div>
            <div class="box box2">
                 <span>Augmented</span>
                 <span>Reality</span>
                 <span>im</span>
                 <span>Unterricht</span>
                 <span>erleben</span>

            </div>
        </div>

        <p class="p-text">Mit dem E-Cube können Schülerinnen und Schüler den Unterricht auf eine neue Weise kennenlernen: Spielend, spannend und abwechslungsreich!</p>


        <div class="color-gradient">
            <span id="switch-span">...</span>
        </div>

        <h2>3D-Objekte im Unterricht</h2>

        <div align="center">
            <model-viewer
                    src="./data/3d/object/atom.glb"
                    environment-image="neutral"
                    alt="3D Modell"
                    interaction-prompt="none"
                    interaction-prompt-threshold="0"

                    ar
                    ar-placement="floor"
                    ar-modes="scene-viewer webxr quick-look"
                    touch-action="pan-y"
                    camera-controls
                    loading="eager"
                    
                    shadow-intensity="1">
            </model-viewer>
            <p class="copyright">"Atom" (https://skfb.ly/onXKz) by LucasPresoto is licensed under Creative Commons Attribution (http://creativecommons.org/licenses/by/4.0/).</p>
        </div>

        <div class="contact-form">
          <h3>Allgemeine Fragen zum Projekt?</h3>
          <p onclick="getContactInformation()">Kontakt aufnehmen</p>
          <h3>Pilotprojekt mit ihrer Schule planen?</h3>
          <p onclick="getContactInformation('pp')">Anfrage senden</p>
        </div>

    </body>
</html>