:root
{
    --main: #62A60E; /* Gelb: #ffbc0d        Zuse-grün: #62A60E */
      --main-light: #E6FFE6; /* D8FFD8 */
      --main-light2: #f9fef2;
      --main-dark: #579210;
    --red: #a60e0e;
      --red-light: #ffe6e6;
    --gray: gray;
      --gray-light: #f2f2f2;


    --bg: white;
    --bg-dark: #343438;


    --size-img-share: 85%;
}

/*
@media (prefers-color-scheme: dark) {
    #canvas
    {
        background-color: var(--bg-dark);
    }
}
*/

::selection
{
  color: white;
  background: var(--main);
}

html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);

    font-family: Arial, Helvetica, sans-serif;
    
    overflow-y: hidden;
    overflow-x: hidden;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

/* model-viewer
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 200px;
    
    background-color: rgb(255, 255, 255, 0.3);
    border: 2px solid var(--gray-light);
    border-radius: 8px;
} */

a
{
  color: var(--main);
}

/*
model-viewer#move-model
{
    position: absolute; 

    width: 150px; 
    height: 150px;
    display: none; 

    border-radius: 8px;

    background-repeat: no-repeat;
    background-size: cover;
}
*/

#move-html {

    position: fixed; 

    width: 150px;
    height: 150px;
    display: none;

    margin: 0;

    z-index: 2;

    /*pointer-events: none;*/

}

.flip-box {
  background-color: transparent;
  perspective: 1000px;
  
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  
}

.flip-box-front {
  background-color: #ededed;
  color: black;
  border-radius: 8px;
}

.flip-box-back {
  background-color: var(--main);
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
}

model-viewer#move-model {

    position: fixed; 

    width: 150px;
    height: 150px;
    display: none;

    margin: 0;

    z-index: 2;

    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;

    pointer-events: none;
}

.viewer-container {
    position: relative; /* Wichtig für die Positionierung des Buttons */
    width: 100%;
    height: 100%;
}

model-viewer#ar-model
{
  border: 2px solid var(--gray-light);
    width: 100%;  /* Feste Größe zur Berechnung der Zentrierung */
    height: 60vh;
    max-height: 500px;

    border-radius: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}

#startStopAnimationBtn
{
  position: absolute;
    top: 10px; /* Kleiner Abstand vom oberen Rand */
    left: 50%;
    transform: translateX(-50%); /* Schiebt den Button genau in die Mitte */
    z-index: 100; /* Stellt sicher, dass der Button über dem Modell liegt */

  padding: 4px 10px;
  font-size: 13px;
  color: white;
  background-color: rgb(62, 62, 62);
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

#loadingPage
{
    width: 100%;
    height: 100%;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
}



.loader
{
  
    width: 40px;
    height: 40px;
    
    --c: no-repeat linear-gradient(#f2f2f2 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 23px 23px;
    animation: l5 1.0s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes l5
{
    0%   {background-position: 0 0,100% 0,100% 100%,0 100%}
    33%  {background-position: 0 0,100% 0,100% 100%,0 100%;width:60px;height: 60px}
    66%  {background-position: 100% 0,100% 100%,0 100%,0 0;width:60px;height: 60px}
    100% {background-position: 100% 0,100% 100%,0 100%,0 0}
}

#main
{
    display: none;
}

header
{
    padding: 5px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 10;
}

#header-pfp
{
  height: 4vh;
  position: absolute;
  right: 3px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  cursor: pointer;
}

.logo-zuse
{
  margin-right: 7px;
  height: 4vh; /* x% der Fensterhöhe */
    max-height: 22px;
}
.logo-ecube
{
  margin-left: 5px;
  margin-right: 5px;
  height: 4vh; /* x% der Fensterhöhe */
    max-height: 22px;
}

.logo-mps
{
  margin-left: 5px;
  height: 4vh; /* x% der Fensterhöhe */
    max-height: 22px;
}

/*
.burger {
    position: absolute;
    left: 6px;
    width: 28px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 6px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
  }

  .burger span {
    display: block;
    height: 3px;
    background: #CCCCCC;
    border-radius: 3px;
  }
  */



.beta-span
{
    font-weight: bold;
    text-transform: uppercase;
    
    cursor: pointer;
    /* position: absolute; */
    
    /*right: 25px;*/
    height: 16px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    font-size: 13px;
    padding: 2px 10px;
    color: #3385ff;
    background-color: #cce0ff;
    border: 1px solid #3385ff;
    border-radius: 100px;
  }

#title
{
  font-size: 14px;
  text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border: 1px solid white;
    position: absolute;
    width: 80%;
    max-width: 220px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 26px 4px 12px;
    border-radius: 100px;
    box-sizing: border-box;
    font-weight: bold;
    z-index: 10;
}

.info-button {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    aspect-ratio: 1 / 1; /* sorgt für perfekte Kreisform */
    
    border: none;
    border-radius: 50%;
    background-color: var(--main);
    color: white;

    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover-Effekt (optional) */
.info-button:hover {
    background-color: var(--main-dark);
}


/*
#infotext
{
    text-align: center;
    background-color: rgb(242, 242, 242, 0.7);
    border: 1px solid #E6E6E6;
    position: absolute;
    width: 80%;
    max-width: 600px;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    border-radius: 100px;
}
*/

.menu
{

  /*
  background-color: rgba(255, 255, 255, 0.5);
  */

  background-color: white;

  z-index: 4;

    text-align: center;
    /* background-color: rgb(255, 255, 255, 0.6); */ /* rgb(242, 242, 242, 0.5) */
    /* border: 1px solid #E6E6E6; */
    position: absolute;
    width: 85%;
    max-width: 320px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .menuBtn
{
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  padding: 8px;
  
  cursor: pointer;
  border: none;


  color: white;
  background-color: var(--main);

  box-shadow: 0 0 0px var(--main);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
/*
.menu .menuBtn:hover
{
  box-shadow: 0 0 16px var(--main);
}
*/

.menu .settingBtn
{
  position: absolute;
  left: 2px;

  aspect-ratio: 1 / 1;
  display: flex;
  
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  border: none;

  background-color: white;
  color: var(--main);
}

.menu .aiBtn
{

  position: absolute;
  right: 2px;

  aspect-ratio: 1 / 1;
  display: flex;
  
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  border: none;

  color: #a40ea4; /* a4590e*/
  background-color: white;
}


.menu svg
{
  width: 18px;
  height: 18px;
}

#video-webcame
{
    width: 100%;
    height: auto;
    /* background-image: url('../data/img/zuse_logo_small.png');
    background-repeat: no-repeat;
    background-position: center; */
}

#canvas
{
    background-color: white;
/*
    position: absolute;
    bottom:5px;
    right: 15px;
    */

    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Füllt den Bildschirm, behält Proportionen, schneidet Ränder ab */
    object-position: center; /* Zentriert das Kamerabild */
    position: fixed;
    top: 0px;
    left: 0;
}

.sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 30;
  top: auto;
  left: 0;
  bottom: 0;
  background-color: white;

  overflow-y: auto;
  transition: 0.3s;
  padding-top: 0;
}


.sidenav .closebtn {
  color: var(--main);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
  text-decoration: none;
}

.sidenav .closebtn:hover
{
  color: green;
}

.sidenav-container
{
  /* top right bottom left */
  padding: 50px 30px 30px 30px;
  display: block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0;}
  .sidenav a {font-size: 18px;}
}

.header-icon
{
    display: inline-flex;


    height: 16px;

    flex-direction: column;
    justify-content: center;
    padding: 2px 8px;
    border-radius: 100px;

    color: var(--gray);
    background-color: var(--gray-light);
    border: 1px solid var(--gray);
}



/*
.icon-cam
{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 22px;
    height: 22px;

    padding: 2px;
    border-radius: 50%;

    margin-right: 5px;

    color: var(--gray);
    background-color: white;
    border: 1px solid var(--gray);
}
*/


.icon-green
{
  color: var(--main);
  background-color: var(--main-light);
  border: 1px solid var(--main);
}
.icon-red
{
  color: var(--red);
  background-color: var(--red-light);
  border: 1px solid var(--red);
}

/* The Modal (background) */
.modal
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 40; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  
}

/* Modal Content */
.modal-content
{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;

  border-radius: 11px;

  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop
{
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop
{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header
{
  font-weight: bold;
  padding: 12px 14px;
  background-color: var(--main);
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.modal-body
{
  padding: 16px 16px;
  background-color: var(--main-light2);
  border-radius: 100px;
}

.btn
{
  padding: 8px 12px;
  border-radius: 3px;
  color: white;
  background-color: var(--main);
  border: none;
  cursor: pointer;
  margin: 3px;
}

.btn:hover
{
  background-color: var(--main-dark);
}

.share-btn
{
  color: white;
  border: none;
  cursor: pointer;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  text-align: center;
}
.share-btn svg
{
  width: 14px;
  height: 14px;
}
.share-btn.whatsapp
{  
  background-color: #25D366;
}
.share-btn.linkedin
{
  background-color: #0A66C2;
}
.share-btn.twitter-x
{
  background-color: black;
}
.share-btn.facebook
{
  background-color: #1877F2;
}
.share-btn.mail
{
  background-color: rgb(87, 87, 87);
}
.share-btn.url
{
  margin-left: 10px;
  background-color: rgb(31, 31, 31);
}
.share-btn.image
{
  background-color: rgb(31, 31, 31);
}



.icon-text-container
{
        display: flex;
        align-items: center;      /* vertikale Zentrierung */
        gap: 12px;                 /* Abstand zwischen Icon und Text */
        font-family: Arial, sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
}

.icon-text-container svg
{
  width: 28px;
  height: auto;
  color: var(--main);
  flex-shrink: 0;
}

.subject-container
{
  display: flex;
  gap: 15px;
  flex-direction: row; /* Standardmäßig nebeneinander */
  /* NEU: Erlaubt das automatische Umbrechen in die nächste Zeile */
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: flex-start;
}


.subject-box
{
  flex: 0 1 110px;

  /* flex-grow: 1; */
  min-width: 90px;

  /* width: 140px; */
  height: 60px;
  /* flex-shrink: 0; */

  color: white;
  background-color: #cccccc;

  padding: 5px 20px 5px 20px;
  
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  
  background-repeat: no-repeat;
  background-size: 100%;

  cursor: pointer;
  transition: transform 0.2s ease-in-out, background 0.4s ease-in-out;

  
}
.subject-box:hover {
  transform: scale(1.06); 
  z-index: 10; 
}



.subject-box.green
{
  background: linear-gradient(to right, rgb(2, 119, 2), lightgreen);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.green:hover
{
  background-position: right bottom;
}

.subject-box.red
{
  background: linear-gradient(to right, rgb(145, 8, 8), rgb(239, 90, 90));
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.red:hover
{
  background-position: right bottom;
}

.subject-box.lightbrown
{
  /* background-color: #cc6600; */
  background: linear-gradient(to right, #b86007, #fea347);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.lightbrown:hover
{
  background-position: right bottom;
}
.subject-box.brown
{
  background: linear-gradient(to right, #913d05, #e0732a);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.brown:hover
{
  background-position: right bottom;
}
.subject-box.purple
{
  background: linear-gradient(to right, #85057f, #e539dc);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.purple:hover
{
  background-position: right bottom;
}
.subject-box.gray
{
  background: linear-gradient(to right, #6f6f6f, #cdcdcd);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.gray:hover
{
  background-position: right bottom;
}




#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}


.hotspot-hint {
            color: white;
            background: transparent; /* transparent */
            border-radius: 50%;
            width: 60px;
            height: 60px;
            border: none;
            cursor: pointer;
            padding: 12px;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: box-shadow 0.3s ease;
        }

        .hotspot-hint:disabled
        {
            border: 3px solid red;
        }

        .hotspot-info {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-10px);
            left: 70px;
            background-color: red;
            font-weight: bold;
            color: white;
            padding: 5px 12px;
            border-radius: 50px;
            white-space: nowrap;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        }
        .hotspot-info.active-hotspot {
            opacity: 1;
            transform: translateY(-50%) translateX(0);
        }

.overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: none; /* Anfangs versteckt */
            z-index: 20;
        }

        /* Overlay Container */
        .overlay-content {
            background-color: white;
            width: 80%;
            max-width: 600px;
            margin: 50px auto;
            padding: 22px;
            text-align: left;
            position: relative;
            border-radius: 8px;
            z-index: 20;

            max-height: 80vh;          /* Begrenzt die Höhe auf 80% des Sichtfeldes */
    overflow-y: auto;          /* Zeigt Scrollbar nur an, wenn der Inhalt zu lang ist */
    overflow-x: hidden;


        }

#qr-container {
      width: 200px;
      height: 200px;
      padding: 8px;
      border: 2px solid var(--gray-light);
      border-radius: 18px;
      margin-top: 25px;
      margin-bottom: 25px;
    }



/*
.subject-container-new
{
  display: flex;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: flex-start;
}
*/

.subject-container-new
{
    display: grid;
    /* Erzeugt so viele Spalten wie reinpassen, mindestens 150px breit */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    gap: 15px;            /* Abstand zwischen den Boxen */
    padding: 15px;        /* Abstand zum Bildschirmrand */
    width: 100%;          /* Nutzt die volle Breite */
    box-sizing: border-box;
}

.subject-box-new
{
  flex: 0 1 220px;

  /* flex-grow: 1; */
  /* min-width: 90px; */

  /* width: 300px; */
  
  /* flex-shrink: 0; */

  width: 100% !important;
  max-width: none;

  font-weight: bold;

  color: #a5a5a5;
  background-color: #f2f2f2;

  padding: 5px;
  
  border-radius: 8px;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  
  background-repeat: no-repeat;
  background-size: 100%;

  cursor: pointer;
  transition: transform 0.2s ease-in-out, background 0.4s ease-in-out;


}
.subject-box-new:hover {
  transform: scale(1.04); 
  z-index: 10; 
  background: linear-gradient(to right, var(--main), #7acf12);
  color: white;
  box-shadow: 0 0 6px var(--main);
}

.subject-box-new svg
{
  color: white;
}

.subject-box-new .objectTitle
{
  padding-top: 10px;
  padding-bottom: 6px;
}


.subject-box-image-container
{
  text-align: center;
  width: 100%;
  background-color: white;
  border-radius: 4px;

  position: relative;

}
.subject-box-image-container img
{
  height: 90px;
}

.subject-box-image-container .icon-qrcode
{
  background-color: #cccccc;
  padding: 4px;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.subject-box-image-container .icon-copyright
{
  background-color: #cccccc;
  padding: 4px;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 35px;
  right: 5px;
}

.subject-box-title
{
  font-size: 14px;
  margin-top: 4px;
  padding: 5px;
  width: 100%;
  color: black;
}


.filter-bar {
            margin-bottom: 20px;
        }

        .filter-bar select,
        .filter-bar input {
            padding: 8px;
            margin-right: 10px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .item {
            border: 1px solid #ccc;
            padding: 15px;
            width: 200px;
        }

        .form-row {
  display: flex;
  width: 100%;
  gap: 8px; /* Abstand zwischen Select und Input */
}

.form-row select {
  width: 150px; /* feste Breite für Select */
}

.form-row input {
  flex: 1; /* nimmt den restlichen Platz ein */
}


.form-row select, 
.form-row input {
  /* Sicherstellen, dass Padding/Border in die Höhe eingerechnet werden */
  box-sizing: border-box; 
  
  /* Eine einheitliche Höhe vergeben */
  height: 48px; 
  
  /* Margin-Bottom entfernen, da es das Layout in der Flex-Row stören kann */
  margin-bottom: 0; 
}


.search-container
{
  display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 6px; /* Kein Abstand zwischen den Elementen */
}

#categoryFilter, 
#searchInput {
    flex: 1; /* Beide teilen sich den Platz 50/50 */
    min-width: 0; /* Verhindert, dass das Input-Feld aus dem Container bricht */
    box-sizing: border-box; /* WICHTIG: Padding und Border werden in die Breite eingerechnet */
    margin: 0;
    
}

/* Optional: Falls du möchtest, dass das Suchfeld etwas mehr Platz hat als der Filter */
#searchInput {
    flex: 2; /* Suche bekommt 2 Teile, Filter 1 Teil des Platzes */
}


        #searchInput {
  background-image: url('../img/favicon.png');
  background-position: 10px 10px;
  background-size: 25px;
  background-repeat: no-repeat;
  
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid #ddd;
  margin-bottom: 0;

  border-radius: 100px;

  transition: border-color 0.2s ease;
}

#searchInput:focus
{
  border-color: var(--main);
  outline: none;
}

.categoryFilter
{

  border-radius: 100px;

  padding: 12px 12px;
  font-size: 14px;
  border: 2px solid #ddd;
  background-color: white;

  transition: border-color 0.2s ease;
}

.categoryFilter:focus
{
  border-color: var(--main);
  outline: none;
}


#maintenance-info
{
  border: 1px solid #fbc02d;
  border-radius: 8px;
  background-color: #fffde7;
  color: #fbc02d;
  padding: 8px;
}



.server
            {
                width: 45px;
                height: 80px;
                background-color: lightgray;
                border-radius: 6px;
                padding: 6px;
            }
            .server .disk
            {
                position: relative;
                width: 100%;
                height: 20px;
                background-color: #b3b3b3;
                border-radius: 3px;
                margin-bottom: 5px;
            }

            .server .disk .line
            {
                position: absolute;
                top: 7.5px;
                left: 6px;
                width: 24px;
                height: 5px;
                background-color: white;
                border-radius: 100px;
            }

            .server .disk .light
            {
                position: absolute;
                top: 6.5px;
                right: 4px;
                width: 7px;
                height: 7px;
                background-color: #cccccc; /* rgb(160, 160, 255) */
                border-radius: 50%;
                /* box-shadow: 0 0 4px #ff0000; */
                /* box-shadow: rgba(160, 160, 255) 0px 0px 8px 0px; */   
            }

  .maintenance-row {
    display: flex;
    gap: 10px;          /* 🔑 Abstand zwischen den Boxen */
    width: 100%;
}


#maintenance-info {
    flex: 7;
}

.serber {
    flex: 3;
}


/* The Modal (background) */
.bottom-modal {

  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 15; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s
}

/* Modal Content */
.bottom-modal-content {

  border-radius: 8px 8px 0px 0px;
  
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;

  max-height: 90vh;      /* maximal Bildschirmhöhe */
  overflow-y: auto;       /* scrollbar bei Überlänge */



  display: flex;
  flex-direction: column;

  


  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.2s;
  animation-name: slideIn;
  animation-duration: 0.2s
}

/* The Close Button */
.bottom-close {
  margin-top: 12px;
  color: white;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.bottom-close:hover,
.bottom-close:focus {
  text-decoration: none;
  cursor: pointer;
}

.bottom-modal-header {
  border-radius: 8px 8px 0px 0px;
  padding: 2px 16px;
  background-color: var(--main);
  color: white;
}

.bottom-modal-body
{
  margin-top: 8px;
  padding: 2px 16px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}


/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


/*
.accordion {
  margin-top: 20px;

  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;

  border-radius: 100px;
}
*/
/*
.active {
  background-color: #ccc;
}
*/


/*
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;

  
}

.active:after {
  content: "\2212";
}
  */


#important-facts
{
  font-size: 14px;

  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 6px;
}

.fact
{
  background-color: #f5f5f5;
  color: #7d7d7d;
  border-radius: 100px;
  padding: 5px 10px;
display: inline-block;
margin-right: 6px;
cursor: pointer;
border: 0.5px solid #d4d4d4;
}




.panel {
  font-size: 10px;

  margin-top: 15px;
  margin-bottom: 20px;

  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 8px;
  background-color: #fcfcfc;
}

#qr-share-link
{
  background-color: #fcfcfc;
  border: 1px solid #e6e6e6;
  border-radius: 100px;
  padding: 5px 10px;
  color: #cccccc;

  width: 200px;
  font-size: 12px;

  margin-bottom: 15px;
}
#qr-share-link::selection
{
  color: white;
  background-color: #cccccc;
}


/* Position the image slideshow-slideshow-container (needed to position the left and right arrows) */
.slideshow-container {
  margin-top: 50vh;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

.mySlides img
{
    width: var(--size-img-share);
    vertical-align: middle;
    border-radius: 8px 8px 0px 0px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}


/* slideshow-container for image text */
.caption-slideshow-container {
  width: var(--size-img-share);
  text-align: center;
  background-color: #222;
  padding: 2px 0px;
  color: white;
}

.row
{
  width: var(--size-img-share);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active-img,
.demo:hover {
  opacity: 1;
}

#subject-badge
{
  font-size: 12px;
  background-color: rgba(34, 197, 94, 0.10);
  color: rgb(34 197 94);
  border: 1px rgb(34 197 94) solid;
  line-height: 20px;
  padding: 1px 8px;
  cursor: pointer;
  border-radius: 100px;
  outline: none;

  display: inline-block;
  transition: background-color 0.15s ease;
}
#subject-badge:hover
{
  color: white;
  background-color: rgb(34 197 94);
}

#bottom-modal-description
{
  margin: 20px 0px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 8px;
  background-color: #fcfcfc; /* fafafa */
}

.cross-reference 
{
  text-decoration: underline;
  color: var(--main);
  cursor: pointer;
  font-weight: bold;
}



#wwm-box
{
    position: absolute;
    width: 100%;
    max-width: 450px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: bold;
    color: white;
    z-index: 2;
}
#wwm-frage
{

  text-align: center;
    /* background-color: rgba(12, 27, 95, 0.8); */
    background: linear-gradient(180deg, #1d269b, #2e41a8, #1d269b);
    
    border: 1px solid #0c1b5f;
    
    padding: 6px 12px 6px 12px;
    border-radius: 100px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.flex-container {
  display: flex; /* Aktiviert Flexbox */
  gap: 2px;    /* Optional: Abstand zwischen den Boxen */
}

.wwm-answer
{
  flex: 1;
  text-align: left;
  background: linear-gradient(180deg, #1d269b, #2e41a8, #1d269b);
  border: 1px solid #0c1b5f;
    
    padding: 4px 10px 4px 10px;
    border-radius: 100px;
    box-sizing: border-box;

    margin-bottom: 2px;
}

.wwm-orange
{
  color: #ff983d;
}

.wwm-set
{
  margin-top: 10px;
    background: linear-gradient(180deg, #f17d41, #f8a75a, #f17d41);
  flex: 1;
  text-align: left;
  width: 50%;
text-align: center;
  border: 1px solid #f17d41;
    
    padding: 6px 12px 6px 12px;
    border-radius: 100px;
    box-sizing: border-box;
cursor: pointer;
}







.hotspot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: var(--main, #007bff); /* Nutzt Blau als Fallback */
    color: white;

    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding: 0;

    
  }

  .hotspot:hover
  {
    background-color: var(--main-dark);
  }

  /* Das "i" im Kreis */
  .hotspot::before {
    content: "?";
  }

  /* Die Infobox (Annotation) */
  .annotation {
    display: none; /* Standardmäßig versteckt */
    background-color: white;
    color: #333;
    position: absolute;
    left: calc(100% + 10px); /* Rechts neben dem Hotspot */
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    padding: 12px;
    width: 150px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    font-family: sans-serif;
    font-size: 12px;
    pointer-events: auto; /* Erlaubt Klicks in der Box */
    z-index: 10;

    border: 1px solid #cccccc;
  }

  /* Sichtbarkeit steuern: Wenn der Hotspot angeklickt/fokussiert wird */
  .hotspot:focus .annotation,
  .hotspot:active .annotation {
    display: block;
  }

  /*

  .annotation::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
  }

  :not(:defined) > * {
    display: none;
  }
  */




.urlsidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.urlsidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.urlsidenav a:hover {
  color: #f1f1f1;
}

.urlsidenav .urlclosebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  margin-left: 50px;
}

.urlsidenav iframe
{
  width: 100%;
  height: 100vh;
  border: none;
  border-radius: 8px;
}

@media screen and (max-height: 450px) {
  .urlsidenav {padding-top: 15px;}
  .urlsidenav a {font-size: 18px;}
}

.subject-panel
{
  color: white;
  background-color: rgb(23, 153, 23);
  display: block;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  width: 180px;
  cursor: pointer;
  margin-right: 10px;
  flex-shrink: 0;
}

.subject-panel .title
{
  font-size: 22px;
  font-weight: bold;
}
.subject-panel .teacher
{
  font-size: 14px;
}