:root
{
    --green: #62A60E;
      --green-light: #E6FFE6; /* D8FFD8 */
      --green-dark: #579210;
    --red: #a60e0e;
      --red-light: #ffe6e6;
    --gray: gray;
      --gray-light: #f2f2f2;


    --bg: white;
    --bg-dark: #343438;
}

/*
@media (prefers-color-scheme: dark) {
    #canvas
    {
        background-color: var(--bg-dark);
    }
}
*/

::selection
{
  color: white;
  background: var(--green);
}

html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);

    font-family: Arial, Helvetica, sans-serif;
    
    overflow: hidden;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

/* model-viewer
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 200px;
    
    background-color: rgb(255, 255, 255, 0.3);
    border: 2px solid var(--gray-light);
    border-radius: 8px;
} */

model-viewer#move-model
{
    position: absolute; /* WICHTIG für die Platzierung über top/left */
    /* background-color: transparent; */
    width: 150px;  /* Feste Größe zur Berechnung der Zentrierung */
    height: 150px;
    display: none; /* Initial verstecken, bis Marker gefunden wird */
    border: 1px solid white;
    border-radius: 8px;

    background-repeat: no-repeat;
    background-size: cover;
}

model-viewer#ar-model
{
  border: 2px solid var(--gray-light);
    width: 100%;  /* Feste Größe zur Berechnung der Zentrierung */
    height: 70vh;
    max-height: 380px;

    border-radius: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}

#loadingPage
{
    width: 100%;
    height: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader
{
    width: 40px;
    height: 40px;
    --c: no-repeat linear-gradient(#f2f2f2 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 21px 21px;
    animation: l5 1.0s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes l5
{
    0%   {background-position: 0 0,100% 0,100% 100%,0 100%}
    33%  {background-position: 0 0,100% 0,100% 100%,0 100%;width:60px;height: 60px}
    66%  {background-position: 100% 0,100% 100%,0 100%,0 0;width:60px;height: 60px}
    100% {background-position: 100% 0,100% 100%,0 100%,0 0}
}

#main
{
    display: none;
}

header
{
    padding: 5px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img
{
    height: 4vh; /* x% der Fensterhöhe */
    max-height: 22px;
}
.logo-zuse
{
  margin-right: 7px;
}
.logo-ecube
{
  margin-left: 7px;
}

/*
.burger {
    position: absolute;
    left: 6px;
    width: 28px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 6px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
  }

  .burger span {
    display: block;
    height: 3px;
    background: #CCCCCC;
    border-radius: 3px;
  }
  */



.beta-span
{
    font-weight: bold;
    text-transform: uppercase;
    
    cursor: pointer;
    /* position: absolute; */
    
    /*right: 25px;*/
    height: 16px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    font-size: 13px;
    padding: 2px 10px;
    color: #3385ff;
    background-color: #cce0ff;
    border: 1px solid #3385ff;
    border-radius: 100px;
  }

#title
{
  font-size: 14px;
  text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border: 1px solid white;
    position: absolute;
    width: 80%;
    max-width: 220px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 26px 4px 12px;
    border-radius: 100px;
    box-sizing: border-box;
}

.info-button {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    aspect-ratio: 1 / 1; /* sorgt für perfekte Kreisform */
    
    border: none;
    border-radius: 50%;
    background-color: var(--green);
    color: white;

    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover-Effekt (optional) */
.info-button:hover {
    background-color: var(--green-dark);
}


/*
#infotext
{
    text-align: center;
    background-color: rgb(242, 242, 242, 0.7);
    border: 1px solid #E6E6E6;
    position: absolute;
    width: 80%;
    max-width: 600px;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    border-radius: 100px;
}
*/

.menu
{
    text-align: center;
    background-color: rgb(242, 242, 242, 0.5);
    border: 1px solid #E6E6E6;
    position: absolute;
    width: 85%;
    max-width: 600px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .menuBtn
{
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border-radius: 50%;
  padding: 8px;
  color: white;
  cursor: pointer;
  border: none;

  box-shadow: 0 0 0px #4CAF50;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
.menu .menuBtn:hover
{
  box-shadow: 0 0 12px var(--green);
}

.menu svg
{
  width: 18px;
  height: 18px;
}

#video-webcame
{
    width: 100%;
    height: auto;
    /* background-image: url('../data/img/zuse_logo_small.png');
    background-repeat: no-repeat;
    background-position: center; */
}

#canvas
{
    width: 100%;
    height: auto;
    background-color: white;
/*
    position: absolute;
    bottom:5px;
    right: 15px;
    */
}

.sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: auto;
  left: 0;
  bottom: 0;
  background-color: white;

  overflow-y: auto;
  transition: 0.3s;
  padding-top: 0;
}


.sidenav .closebtn {
  color: var(--green);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
  text-decoration: none;
}

.sidenav .closebtn:hover
{
  color: green;
}

.sidenav-container
{
  /* top right bottom left */
  padding: 50px 30px 30px 30px;
  display: block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0;}
  .sidenav a {font-size: 18px;}
}

.header-icon
{
    position: absolute;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 8px;
    border-radius: 100px;

    color: var(--gray);
    background-color: var(--gray-light);
    border: 1px solid var(--gray);
}

.header-icon.connection
{
  right: 6px;
}

.icon-cam
{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 22px;     /* fixer, runder Button */
    height: 22px;

    padding: 2px;      /* wichtig */
    border-radius: 50%;

    margin-right: 5px;

    color: var(--gray);
    background-color: white; /* var(--gray-light) */
    border: 1px solid var(--gray);
}



.icon-green
{
  color: var(--green);
  background-color: var(--green-light);
  border: 1px solid var(--green);
}
.icon-red
{
  color: var(--red);
  background-color: var(--red-light);
  border: 1px solid var(--red);
}

/* The Modal (background) */
.modal
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content
{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop
{
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop
{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header
{
  font-weight: bold;
  padding: 12px 14px;
  background-color: var(--green);
  color: white;
}

.modal-body
{
  padding: 16px 16px;
}

.btn
{
  padding: 8px 12px;
  border-radius: 3px;
  color: white;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  margin: 3px;
}

.icon-text-container
{
        display: flex;
        align-items: center;      /* vertikale Zentrierung */
        gap: 12px;                 /* Abstand zwischen Icon und Text */
        font-family: Arial, sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
}

.icon-text-container svg
{
  width: 28px;
  height: auto;
  color: var(--green);
  flex-shrink: 0;
}

.subject-container
{
  display: flex;
  gap: 15px;
  flex-direction: row; /* Standardmäßig nebeneinander */
  /* NEU: Erlaubt das automatische Umbrechen in die nächste Zeile */
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: flex-start;
}


.subject-box
{
  flex: 0 1 110px;

  /* flex-grow: 1; */
  min-width: 90px;

  /* width: 140px; */
  height: 60px;
  /* flex-shrink: 0; */

  color: white;
  background-color: #cccccc;

  padding: 5px 20px 5px 20px;
  
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  
  background-repeat: no-repeat;
  background-size: 100%;

  cursor: pointer;
  transition: transform 0.2s ease-in-out, background 0.4s ease-in-out;

  
}
.subject-box:hover {
  transform: scale(1.06); 
  z-index: 10; 
}



.subject-box.green
{
  background: linear-gradient(to right, rgb(2, 119, 2), lightgreen);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.green:hover
{
  background-position: right bottom;
}

.subject-box.red
{
  background: linear-gradient(to right, rgb(145, 8, 8), rgb(239, 90, 90));
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.red:hover
{
  background-position: right bottom;
}

.subject-box.lightbrown
{
  /* background-color: #cc6600; */
  background: linear-gradient(to right, #b86007, #fea347);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.lightbrown:hover
{
  background-position: right bottom;
}
.subject-box.brown
{
  background: linear-gradient(to right, #913d05, #e0732a);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.brown:hover
{
  background-position: right bottom;
}
.subject-box.purple
{
  background: linear-gradient(to right, #85057f, #e539dc);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.purple:hover
{
  background-position: right bottom;
}
.subject-box.gray
{
  background: linear-gradient(to right, #6f6f6f, #cdcdcd);
  background-size: 160% 100%;
  background-position: left bottom;
}
.subject-box.gray:hover
{
  background-position: right bottom;
}




#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}


.hotspot-hint {
            color: white;
            background: transparent; /* transparent */
            border-radius: 50%;
            width: 60px;
            height: 60px;
            border: none;
            cursor: pointer;
            padding: 12px;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: box-shadow 0.3s ease;
        }

        .hotspot-hint:disabled
        {
            border: 3px solid red;
        }

        .hotspot-info {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-10px);
            left: 70px;
            background-color: red;
            font-weight: bold;
            color: white;
            padding: 5px 12px;
            border-radius: 50px;
            white-space: nowrap;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        }
        .hotspot-info.active {
            opacity: 1;
            transform: translateY(-50%) translateX(0);
        }

.overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: none; /* Anfangs versteckt */
            z-index: 1000;
        }

        /* Overlay Container */
        .overlay-content {
            background-color: #ffffff;
            width: 80%;
            max-width: 600px;
            margin: 50px auto;
            padding: 22px;
            text-align: left;
            position: relative;
            border-radius: 8px;
        }

#qr-container {
      width: 200px;
      height: 200px;
      padding: 8px;
      border: 2px solid var(--gray-light);
      border-radius: 18px;
      margin-top: 25px;
      margin-bottom: 45px;
    }




.subject-container-new
{
  display: flex;
  gap: 15px;
  flex-direction: row; /* Standardmäßig nebeneinander */
  /* NEU: Erlaubt das automatische Umbrechen in die nächste Zeile */
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: flex-start;
}


.subject-box-new
{
  flex: 0 1 220px;

  /* flex-grow: 1; */
  /* min-width: 90px; */

  /* width: 300px; */
  
  /* flex-shrink: 0; */

  font-weight: bold;

  color: #a5a5a5;
  background-color: #f2f2f2;

  padding: 5px;
  
  border-radius: 8px;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  
  background-repeat: no-repeat;
  background-size: 100%;

  cursor: pointer;
  transition: transform 0.2s ease-in-out, background 0.4s ease-in-out;


}
.subject-box-new:hover {
  transform: scale(1.06); 
  z-index: 10; 
  background: linear-gradient(to right, var(--green), #7acf12);
  color: white;
  box-shadow: 0 0 6px var(--green);
}

.subject-box-new svg
{
  color: white;
}

.subject-box-new .objectTitle
{
  padding-top: 10px;
  padding-bottom: 6px;
}


.subject-box-image-container
{
  text-align: center;
  width: 100%;
  background-color: white;
  border-radius: 4px;

  position: relative;

}
.subject-box-image-container img
{
  height: 90px;
}

.subject-box-image-container .icon-qrcode
{
  background-color: #cccccc;
  padding: 4px;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.subject-box-image-container .icon-copyright
{
  background-color: #cccccc;
  padding: 4px;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 35px;
  right: 5px;
}

.subject-box-title
{
  font-size: 14px;
  margin-top: 4px;
  padding: 5px;
  width: 100%;
  color: black;
}


.filter-bar {
            margin-bottom: 20px;
        }

        .filter-bar select,
        .filter-bar input {
            padding: 8px;
            margin-right: 10px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .item {
            border: 1px solid #ccc;
            padding: 15px;
            width: 200px;
        }


        #searchInput {
  background-image: url('../img/favicon.png');
  background-position: 10px 10px;
  background-size: 23px;
  background-repeat: no-repeat;
  
  width: calc(100% - 62px);
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}


#maintenance-info
{
  border: 1px solid #fbc02d;
  border-radius: 8px;
  background-color: #fffde7;
  color: #fbc02d;
  padding: 8px;
}



.server
            {
                width: 45px;
                height: 80px;
                background-color: lightgray;
                border-radius: 6px;
                padding: 6px;
            }
            .server .disk
            {
                position: relative;
                width: 100%;
                height: 20px;
                background-color: #b3b3b3;
                border-radius: 3px;
                margin-bottom: 5px;
            }

            .server .disk .line
            {
                position: absolute;
                top: 7.5px;
                left: 6px;
                width: 24px;
                height: 5px;
                background-color: white;
                border-radius: 100px;
            }

            .server .disk .light
            {
                position: absolute;
                top: 6.5px;
                right: 4px;
                width: 7px;
                height: 7px;
                background-color: #cccccc; /* rgb(160, 160, 255) */
                border-radius: 50%;
                /* box-shadow: 0 0 4px #ff0000; */
                /* box-shadow: rgba(160, 160, 255) 0px 0px 8px 0px; */   
            }

  .maintenance-row {
    display: flex;
    gap: 10px;          /* 🔑 Abstand zwischen den Boxen */
    width: 100%;
}


#maintenance-info {
    flex: 7;
}

.serber {
    flex: 3;
}


/* The Modal (background) */
.bottom-modal {

  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s
}

/* Modal Content */
.bottom-modal-content {

  border-radius: 8px 8px 0px 0px;
  
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.2s;
  animation-name: slideIn;
  animation-duration: 0.2s
}

/* The Close Button */
.bottom-close {
  margin-top: 12px;
  color: white;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.bottom-close:hover,
.bottom-close:focus {
  text-decoration: none;
  cursor: pointer;
}

.bottom-modal-header {
  border-radius: 8px 8px 0px 0px;
  padding: 2px 16px;
  background-color: var(--green);
  color: white;
}

.bottom-modal-body {padding: 2px 16px;}


/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


